readings.aux
readings.log
readings.syn*

# LaTeX related files
*.synctex.gz
*.bbl
*.blg
*blx.bib
*.run.xml
*.aux
*.fdb_latexmk
*.log
*.out
*.tdo
*.toc
*.fls

# System files
*.DS_Store*
.DS_Store

wandb/
__pycache__